<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmh.terminal.linux.dao.mapper.server.ServerMapper">

    <select id="getServerByServerId" resultType="java.util.Map">
        select hostname,port,
        (case status
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status
        from server
        where id =#{sid}
    </select>

    <select id="getNewServerByServerId" resultType="java.util.Map">
        select '转移用户' as username , hostname,port,'' as server_username,B.group_name,B.gid,
        (case status
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status
        from server A
        left join
        (select serverId,group_name,id as gid
        from sys_group where status = 0 and serverId = #{sid})B
        on A.id = B.serverId
        where id =#{sid}
    </select>

    <select id="getServerByServerIdAndStatus" resultType="java.util.Map">
        select hostname,port,
        (case #{status}
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status
        from server
        where id =#{id}
    </select>
    <select id="getServerRegister" resultType="java.util.Map">
        select id,hostname,port,
        (case status
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status,
        disk
        from server
        where register_enable = 3
    </select>

    <select id="severList" resultType="java.lang.String">
        select id
        from server
        where register_enable != 0
    </select>



    <select id="thisServerUsers" resultType="java.util.Map">
        select username,role_name,gname,group_name,server_username,uid,server_status,
        (case when level>=8 and gstatus!=0 then true
        else false end ) as disabled
        from userall
        where serverId = #{serverId}
        <if test="search!='' and search!=null">
            and  username LIKE concat(#{search},'%')
        </if>
    </select>
    <select id="otherServerUsers" resultType="java.util.Map">
        select username,serverId
        from userall
        where serverId != #{serverId};
    </select>
    <select id="selectionSever" resultType="java.lang.String">
        select id
        from server
        where id != #{serverId} and register_enable!=0;
    </select>

</mapper>