<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 为com.demo.dao包下的所有实体类配置别名，
MyBatis默认的设置别名的方式就是去除类所在的包后的简单的类名,
比如com.demo.dao.User这个实体类的别名就会被设置成User
 -->
    <typeAliases>
        <package name="hmh.terminal.linux.dao.entity"/>
        <package name="hmh.terminal.linux.vo"/>
        <package name="hmh.terminal.linux.dto"/>
    </typeAliases>
</configuration>