<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmh.terminal.linux.dao.mapper.user_server.UserServerMapper">

    <select id="getUserServerByUserName" resultType="java.util.Map">
        select username,hostname,port,server_username,
        (case status
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status
        from userserver
        where username = #{username}
        and  state=3 and server_status != 0
        <if test="sid != null">
            and serverId =#{sid}
        </if>
    </select>

    <select id="getUserServerAll" resultType="java.util.Map">
        select username,hostname,port,server_username,
        (case status
        when 0 then rootPassword
        when 1 then sqlkey
        else filekey
        end) as loginKey,
        CAST(status AS char) AS status
        from userserver
        where username = #{username}
        and  state!=7
        <if test="sid != null">
            and serverId =#{sid}
        </if>
    </select>

    <update id="BanUser">
        update user_server SET status = 0
        WHERE uid = (SELECT uid FROM user where username=#{username})
    </update>

    <select id="getGroupServerUserName" resultType="java.lang.String">
        select server_username
        from userall
        WHERE group_id = #{groupId} and level &lt; 8
    </select>

    <select id="getGroupServerAdminUserName" resultType="java.lang.String">
        select server_username
        from userall
        WHERE group_id = #{groupId} and level >= 8 and level &lt; 10
    </select>

    <select id="disk" resultType="DiskDTO">
        select uid,username,serverId,gname,
        (case when disk is null then '未分配'
        else disk end ) as disk
        from userall
        where 1=1 and state!=7
        <if test="search !='' and search!=null">
            and username LIKE concat(#{search},'%')
        </if>
        <if test="level !=10">
            and group_id = #{groupId}
        </if>
    </select>

</mapper>